$def with (content)
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">
    <title>Evaluaciones</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/starter-template.css" rel="stylesheet">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-datetimepicker.js"></script>
    <script src="/static/css/bootstrap-datetimepicker.css"></script>
    <script src="/static/js/functions.js"></script>
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Evaluaciones</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          $if session.login==0:
            <li><a href="/login">Ingresar</a></li>
          $elif session.login==1:
            $if session.privilege[0]=="Estudiante":
              <li><a href="/evaluar/">Evaluar</a>
            $elif session.privilege[0]=="Administrador":
              <li> <a href="/plantilla/listar/"> Gestion de plantillas </a> </li>
              <li> <a href="/evaluacion/listar/"> Gestion de evaluaciones </a> </li>
            $if session.privilege!=0:
              <li> <a href="/reset"> Cerrar sesión </a> </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

$:content
</body>
</html>


