$def with (preguntas, plantillas)
<h1> Crear plantilla </h1>

<script>

</script>

Crear plantilla desde existente <br>
 <form action="/plantilla/crear/" method="get">   
    <select name="plantilla_base" > 
$if plantillas:
  $for p in plantillas:
    <option value="$p.id">$p.nombre</option>
  </select>  <input type="submit" value="Usar plantilla">
 </form>



<form method="post" action="/plantilla/crear/" role="form" id="">
	
  	Nombre: <input type="text"  name="nombre"> <br>
  	Preguntas:
  	
  	<div id="preguntas"> 
  	$if preguntas is None:
  		<input type="text" name="preguntas"> 
  	$else:
  		$for p in preguntas:
  			<input type="text" name="preguntas" value="$p.pregunta">  <br>
 	</div>
 	<button type="submit" class="btn btn-default">Crear Plantilla</button> <br>
</form>
<button id="addQuestionButton" class="btn btn-default"> Añadir pregunta </button>
